body * {
  visibility: hidden;
  background: #cccccc;
  overflow: visible;
  top: 0;
  left: 0;
}

.page {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

p {
  color: red;
}
